includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 9
    paths:
        - src/
        - tests/
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Method .*::.*\(\) should return .* but returns array\|int\|string\|Stringable\|UnitEnum\|null#'
        -
            identifier: property.nonObject
        -
            identifier: empty.notAllowed