@import "https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&display=swap";

@import "tailwindcss";

@theme {
	--color-emerald-5: #030d0a;
	--color-emerald-4: #071a15;
	--color-emerald-3: #043d2e;
	--color-emerald-2: #065F46;
	--color-emerald-1: #d1fae5;
}

:root {
	--font-sans: "Spline Sans", sans-serif;
	--font-mono: "Spline Sans Mono", monospace;
}

::selection {
	@apply bg-emerald-2 text-emerald-1;
}